body {
  background: linear-gradient(269deg, #b5eaea, #edf6e5, #ffbcbc, #f38ba0);
  background-size: 800% 800%;

  -webkit-animation: gradient 7s ease infinite;
  -moz-animation: gradient 7s ease infinite;
  animation: gradient 7s ease infinite;
}

@-webkit-keyframes gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
@-moz-keyframes gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}
@keyframes gradient {
  0%{background-position:0% 50%}
  50%{background-position:100% 51%}
  100%{background-position:0% 50%}
}

.navbar{
  background-color: #fff !important;
  border-bottom: 1px solid;
  position: sticky !important;
}

.App {
  text-align: center;
}

.container{
  margin: 10px;
  display: inline-flex;
}

.rad{
  background-color: #ffffff;
  height: 100vh;
  width: 20%;
  padding-top: 20px;
  padding-left: 20px;
  position: fixed;
}

.dat{
  margin-left: 20%;
}


img{
  width:150px;
  height: 200px;
}

.item{
  padding: 20px;
  text-align: center;
}

.item img{
  height: 400px;
  width: 400px;
}

.vertical {
  border-left: 6px solid black;
  height: 200px;
  position:absolute;
  left: 50%;
}

.b{
  width:30px;
  height:30px;
  border: none;
  margin:3px;
}

.b:hover{
  background-color:#797676
}

.navbar-nav{
  flex-direction: row;
}

.sign{
  margin-left: 15px;
}

.offc{
  flex-direction: column;
}


.form{
  text-align: left;
}

.button{
  width: 100%;
  margin-top: 10px;
}

.login{
  width: 27%;
  height: 55%;
  background-color: #ffffff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  padding: 10px;
  box-shadow: 0px 0px 20px 5px #797676;
}

.dashboard{
  padding: 20px;
  padding-left: 80px;
  padding-right: 80px;
}

.card-img{
  height: 300px;
  width: 250px;
}

.App .card{
  width: 18rem;
  height: 516px;
  margin: 15px;
  padding: 8px;
  border: none;
  border-radius: 15px;
  display:inline-grid;
  border: 1px solid rgba(143, 142, 142, 0.788);
  border-radius: 15px;
  box-shadow: 0px 0px 13px 4px #797676;
}

.item img{
  border: 1px solid rgba(143, 142, 142, 0.788);
  border-radius: 15px;
  box-shadow: 0px 0px 20px 5px #797676;
}

.cart{
  text-align: center;
}

.cart .card{
  text-align: left;
  width: 80%;
  height: 170px;
  border-radius: 15px;
  margin-left: 10%;
  padding:4px;
}

.cart .card img{
  height: 150px;
  width: 130px;
}

.cart .card .a{
  padding: 10px;
}

.cart .card .c{
  text-align: right;
  padding: 15px;
}

.order{
  text-align: center;
}

.order .card{
  width: 80%;
  margin: 20px;
  margin-left: 10%;
  padding: 8px;
  border: none;
  border-radius: 15px;
  display:flex;
  border: 1px solid rgba(143, 142, 142, 0.788);
  border-radius: 15px;
  box-shadow: 0px 0px 13px 4px #797676;
}

@media only screen and (max-width: 600px) {
  .login{
    width: 100%;
  }

  .cart .card{
    text-align: left;
    margin: 0;
    height: 170px;
    width: 100%;
    border-radius: 15px;
    padding:4px;
  }
  
  .cart .card img{
    height: 0px;
    width: 0px;
  }
  .cart .card .col-2{
    width:0;
  }
  .cart .card .a{
    padding: 10px;
    margin-left: 0;
  }
  
  .cart .card .c{
    text-align: right;
    padding: 15px;
    width: 20%;
  }

  .item img{
    width: 300px;
    height: 70%;
  }

  .r{
    background-color: #ffffff;
  }
}